/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn{
	font-family:Kefa, 'Kefa', Georgia, serif;
	&:hover{
		@include vendor(text-shadow, 1px 1px #999);
	}
}

.btn--twitter{
	@extend .icon-text;
	font-size:16px;
	background:darken(#D1F5FF, 25%);
	border:solid 1px;
	border-color:darken(#D1F5FF, 40%);
	color:#fff;
	@include vendor(text-shadow, 1px 1px #aaa);

	i{
		@extend .icon-text__icon;
		color:inherit;
		font-size:1em;
		position:relative;
		top:-2px;
	}

	&:hover{
		background:darken(#D1F5FF, 40%);
	}

	&:active{
		background:darken(#D1F5FF, 50%);
	}
}


.btn--big-tweet{
	background:inherit;
	line-height:inherit;
	opacity:0.6;
	padding:0px;

	&:hover {
		opacity:1;
		@include vendor(text-shadow, none);
	}

	i{
		color:darken(#D1F5FF, 25%);
		margin-top:4px;
		font-size:48px;
		vertical-align:middle;
	}
}


/**
 * Create responsive image links.
 *
   <a href="#foo" class="img-btn">
      <img src="foo">
      <div class="caption">
      	<div class="caption__backdrop"></div>
      	<div class="caption__content">
			Foo Title
      	</div>
   </a>
 *
 */
.img-btn{
		display:block;
		padding:0px;
		position:relative;
		background-color:transparent;
		@include media-query(desk){ margin-bottom:$base-spacing-unit; }
		@include media-query(portable) { &:hover { @include vendor(text-shadow, none); } }

		img{
			@extend .scalable;
		}

		.caption{
			text-align:center;
			position:relative;
			max-width:100%;

			.caption__backdrop{
				display:none;
			}			

			@include media-query(portable){
				font-size:12px;
				line-height:$base-spacing-unit;
			}

			@include media-query(desk){
				@include vendor(transition, opacity 0.1s ease-in);
				@include vendor(transition, opacity 0.5s ease-out);

				opacity:0;

				&:hover{
					opacity:1;
				}

				&,.caption__backdrop{
					height:100%;
					width:100%;
					position:absolute;
					top:0px;
					left:0px;						
				}

				.caption__backdrop{
					display:table-cell;
					background:lighten(#000, 20%);
					opacity:.75;
					z-index:9;
				}

				.caption__content{
					@include font-size(18px);
					position:absolute;
					top:50%;
					height:($line-height-ratio*18)+px;
					margin-top:-($line-height-ratio*18)/2+px;
					width:100%;
					background:transparent;
					color:#fff;
					z-index:10;
					opacity:1;
				}
			}
		}

		&.active
		{
			cursor:default;

			&:hover{
				text-decoration:none;
			}

			.caption{
				.caption_content{
					font-weight:800;
				}					

				@include media-query(desk){
					display:block;
					opacity:1;

					.caption_backdrop{
						display:block;
						opacity:.9;
						background:lighten($brand-color, 5%);
					}
				}
			}

		}
	}