/*------------------------------------*\
    $HOMEPAGE.SCSS
\*------------------------------------*/
.labels-bar{	
	padding-top:$base-spacing-unit;

	@include media-query(portable){
		padding-top:0px;
	}
}

	.labels-bar__header{
		text-align:center;
		position:relative;
		top:21%;

		h2{
			@include font-size(32px);
			cursor:default;
			font-variant:small-caps;
			color:$brand-color;
			font-weight:200;
			letter-spacing:$base-spacing-unit/10;
			margin-bottom:0px;
			margin-top:1.5rem;
		}

		h3{
			@include font-size(16px);
			cursor:default;
			font-variant:small-caps;
			font-weight:200;
			letter-spacing: $base-spacing-unit/16;

			&:before,&:after{
				@include font-size(12px);
				opacity:0.5;
				content:" → ";
				@include media-query(portable){
					content:" ↓ ";
				}
			}
		}
	}

	.labels-bar__labels-grid{
		@extend .grid;

		.labels-grid__label{
			@extend .grid__item;
			@extend .one-fifth;
		}

			.img-btn--label .caption__content{
					@include font-size(14px);
					height:($line-height-ratio*14)+px;
					margin-top:-($line-height-ratio*14)/2+px;

					@include media-query(portable){
						opacity:0;
					}
			}
	}

	.labels-bar__border{
		@extend .grid__item;
		@extend .one-whole;
		div{
			border-top:solid 1px #ccc;
			width:100%;
		}
		
	}	


.artists-grid{
	@extend .grid;
	padding-right:$base-spacing-unit;

	.artists-grid__artist{
		@extend .grid__item;
		@extend .one-fifth;
		@extend .palm-one-half;
	}
}

