/*------------------------------------*\
    $PAGE.SCSS
\*------------------------------------*/
html{
	@extend .force-max-height;
	font-family: 'Cantarell', sans-serif;
	font-weight:300;
	background: #ffffff;
	color:#555;
}


body{
	@extend .force-max-height;
	border-top:solid darken($brand-color, 5%) 3px;
	-webkit-font-smoothing:antialiased;
}


/**
 * Page wrapper.
 */
.wrapper{
	@extend .force-max-height;
	max-width:1100px;
	margin-right:auto;
	margin-left:auto;
	padding-right:$base-spacing-unit;
	padding-left:$base-spacing-unit;
	padding-top:$base-spacing-unit;

	@include media-query(portable){
		padding-right:$half-spacing-unit;
		padding-left:$half-spacing-unit;
		max-width:768px;
	}

	@include media-query(palm){
		padding-top:$half-spacing-unit;
	}
}

/**
 * Page footer.
 */
.footer
{
	@extend .grid;
	@include font-size(12px);
	margin-bottom:$base-spacing-unit;

	.footer__border{
		@extend .grid__item;
		@extend .one-whole;
		div{
			border-top:solid 1px #ccc;
			width:100%;
		}
		
	}


	.footer__branding, .footer__copyright, .footer__social{
		@extend .grid__item;
		@extend .palm-one-whole;

		@include media-query(palm){
			text-align:center;
		}
	}

	.footer__branding, .footer__social{
		@extend .lap-and-up-one-sixth;
		i{
			font-size:20px;
		}
	}

	.footer__branding{
		@include media-query(palm){
			@extend .text--center;
		}

		.social-mobile {
			@extend .text--center;

			@include media-query(lap-and-up){
				display:none;
			}

			a{
				text-decoration:none;
				opacity:0.8;
				color:$brand-color;
				&:hover{
					opacity:1;
				}
			}
		}		
	}

	.footer__copyright{
		@extend .lap-and-up-two-thirds;
		@extend .text--center;
		@include media-query(portable){ font-size: 12px; }
		line-height:32px;										/* height of sprites */
		@include media-query(portable){ line-height:24px; }		/* height of small sprites */

	}

		.footer__copyright span{
			&:first-child:after{
				content:" —";
			}			
		}

	.footer__social {
		@extend .text--right;

		@include media-query(palm){
			display:none;
		}

		a{
			text-decoration:none;
			opacity:0.8;
			color:$brand-color;
			&:hover{
				opacity:1;
			}
		}
	}
}

/* Error notice */
.error-notice{
	text-align:center;

	h1{
		@extend .giga;
		color:$brand-color;
		margin-bottom:$base-spacing-unit*2;
	}
	
	p{
		@extend .lead;
	}

	small{
		display:block;
		margin-bottom:$base-spacing-unit;
	}
	
		small a{
			@include font-size(16px);
			font-variant:small-caps;
			text-decoration:none;
			opacity:.8;

			&:hover{
				opacity:1;
			}

			&:before{
				content:"←";
				margin-right:4px;
			}
		}

	dl{
		background:#000;
		color:lime;
		overflow:scroll;

		dt, dd{
			padding:2px $half-spacing-unit 4px $half-spacing-unit;
			display:block;
			@include font-size(14px);
			letter-spacing:2px;
			font-family:'Courier',Courier,monospace;
			@include vendor(text-shadow, 1px 1px 1px darken(#fff,25%));
		}

		dt{
			@extend .text--left;
			font-weight:800;
			margin-bottom:$base-spacing-unit;
		}

		dd{
			@extend .text--left;
			margin-left:0px;
			margin-bottom:$half-spacing-unit;
			padding-left:$base-spacing-unit;
		}

		dt:first-child, dd:first-child{
			display:inline-block;
			clear:none;
			padding-right:4px;
		}
	}

}

.preload-sprites
{
	display:none!important;
}