/*------------------------------------*\
    $TYPOGRAPHY.SCSS
\*------------------------------------*/
h1,h2,h3,h4,h5{
	cursor:default;
}

h1,h2{
	font-family:Kefa, 'Kefa', Georgia, serif;
}

a{
	color:#000;
}